 body{
    background-color: rgb(253,246,236);
}

body div {
       /* border: 1px solid black;  */
}


.top-box {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/newspapers.jpg");
    width: 100%;
    height: 280px;
    z-index: -1;
    filter: blur(5px);
}

.buttons-container{
    display: flex;
}

.back-button-container{
    margin: 10px;
}

.dark-light-mode-button-container{
    display: flex;
    justify-content: flex-end;
    width: 75%;
    margin: 10px;
}

#back-button{
    color: white;
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    right: 10px;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color:rgb(253, 246, 236);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #353535;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.title{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: white;
} 

.article-name{
    display: flex;
    justify-content: center;
    margin-top: 175px;
    margin-bottom: 30px;
}

.author-name-container{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.fill-div{
    display: flex;
    justify-content: center;
}

.article-container{
    display: flex;
    text-align: center;
    width: 75%;
}

.source-container{
    display: flex;
    justify-content: flex-end;
    margin-right: 250px;
    margin-top: 30px;
}

.dark-mode {
    background-color: rgba(0,0,0,.815);
    color: white;
  }